include libs/bemto/easybem
doctype html
html(lang='en')
    head
        title NG2 Google Places

        //link(rel="stylesheet", href="/css/main.css")

        script(src="/js/vendor.bundle.js")


    body

        app Loading App



        script(src="/js/app.bundle.js")



