include libs/easylib/bemto/easybem

-var googleApi = 'AIzaSyDd417_SPmf1gQr_b_OG1pBov0LMEW2wow'

doctype html
html(lang='en')
    head
        title NG2 Google Places

        link(href="//fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/main.css")

        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=#{googleApi}&libraries=places")
        script(src="/js/vendor.bundle.js")


    body

        app Loading App

        script(src="/js/app.bundle.js")