@import "_config";
@import "_colors";
@import "utilities";

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $color-black;
	background-color: $color-white;
}

@include block('layout') {
	width: 400px;
	height: 600px;
	border: dashed 1px red;
	margin: 50px auto;
}


// inject:scss
// endinject